body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header img {
    width: 200px; /* Adjust the width as necessary */
}

.search-container {
    margin: 40px auto;
    width: 80%;
    max-width: 600px;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.button-container {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 20px;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f0e68c; /* Light yellow */
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.logo {
    float: center;

}
